body {
    background: linear-gradient(178.13deg, #0099E4 42.83%, #0058EC 96.61%);
    background-blend-mode: soft-light;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.formulario {
    border-radius: 15px;
    padding: 35px 0px;
    text-align: center;
}

form {
    background: linear-gradient(178.13deg, #E1BEE7 42.83%, #8E24AA 96.61%);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

#formulario {
    border-radius: 15px;
}

input[type=file] {
    display: inline;
}

input {
    margin: 7px 0px;
    width: 300px;
}

#formulario label {
    text-align: right;
    padding: 0px;
    font-size: 20px;
}

.formulario label {
    text-align: right;
    padding: 0px;
    font-size: 20px;
    margin: 7px 0px;
}

.img {
    width: 100px;
}

.titulos {
    text-align:center;
    color: #000000;
    font-family: impact;
    font-size: 50px;
    letter-spacing: 0;
    width: 100%;
    text-shadow: -3px -3px 3px #FFFFFF, 3px -3px 3px #FFFFFF, -3px 3px 3px #FFFFFF, 3px 3px 3px #FFFFFF;
}

.Boton {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    /* Boton */
    background: #bdabff;
    border-style: solid;
    background: linear-gradient(to right, #0099E4,#0058EC);
    border-width: 1px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    width: 200px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    margin: 20px 0px 0px 0px;
  }

.form-cerrar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    z-index: 99;
    top: 0px;
    left: 0px;
}

.form-cerrar input {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    /* Boton */
    background: #bdabff;
    border-style: solid;
    background: linear-gradient(to right, #0099E4,#0058EC);
    border-width: 1px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    width: 200px;
    height: 50px;
    margin: 8px 50px 8px 0px;
}

#ultimo + div {
    visibility: hidden;
}